@page
@model Animulu.Pages.AppModel
@{
    ViewData["Title"] = "Mobile App";
    ViewData["SubTitle"] = "Mobile App";
    ViewData["Identity"] = "false";
}
<div class="row text-center">
    <h1 class="col-12">Adverties your mobile app here</h1>
</div>