@page
@model Animulu.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Info";
    ViewData["SubTitle"] = "Contact";
    ViewData["Identity"] = "false";
}
<header class="row mt-3">
    <h1 class="col-12 px-sm-5 px-3">Contact Informations</h1>
    <p class="col-12 px-sm-5 px-3 font-content font-weight-light">If you are intrested in partnership or providing a sponsorship, please contact us, using informations set out below.</p>
</header>
<content class="row mt-3">
    <div class="px-sm-5 px-3 col-12 font-content font-weight-light">
        <h4 class="h4 pb-1">Company info:</h4>
        <p>
            Name<br/>
            Street<br/>
            00-000 City<br/>
            Tax number<br/>
        </p>   
    </div>
</content>
<content class="row mt-3">
    <div class="px-sm-5 px-3 col-12 font-content font-weight-light ">
        <h4 class="h4 pb-1">Contract info:</h4>
        <p>
            E-mail: example@address.pl <br/>
            Phone: +42 000 000 000
        </p>
    </div>
</content>