@page "/forgotpassword"
@model Animulu.Areas.Identity.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    ViewData["SubTitle"] = "Forgot Password";
    ViewData["Identity"] = "true";
}


<div class="row mt-5">
    <div class="col-12">
        <form method="post" class="bg-grey p-4 col-xl-4 col-md-6 col-sm-8 col-12 mx-auto border-radius-light">
            <h1 class="mb-4">@ViewData["Title"]</h1>
            <h4 class="my-4">Enter your email.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-4">
                <input asp-for="Input.Email" placeholder="Email" class="form-control bg-grey-dark border-grey-dark form-dark-fix" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-form">Submit</button>
        </form>
    </div>
</div>
