@page "/forgotpasswordconfirmation"
@model Animulu.Areas.Identity.Pages.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot password confirmation";
    ViewData["SubTitle"] = "Forgot Password Confirmation";
    ViewData["Identity"] = "true";
}

<div class="row mt-5">
    <h4 class="col-12 text-center">
        Please check your email to reset your password.
    </h4>
</div>

