@page "/signupconfirmation"
@model Animulu.Areas.Identity.Pages.RegisterConfirmationModel
@{
    ViewData["Title"] = "Sign up confirmation";
    ViewData["SubTitle"] = "Sign Up Confirmation";
    ViewData["Identity"] = "true";
}


<div class="row mt-5">
    <h4 class="col-12 text-center">
        Please check your email to confirm your account.
    </h4>
</div>
    

