@page
@model Animulu.Areas.Identity.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    ViewData["SubTitle"] = "Reset Password";
    ViewData["Identity"] = "true";
}
<div class="row mt-5">
    <div class="col-12">
        <form method="post" class="bg-grey p-4 col-xl-4 col-md-6 col-sm-8 col-12 mx-auto border-radius-light">
            <h1 class="mb-4">@ViewData["Title"]</h1>
            <h4 class="my-4">Enter your new password.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <input asp-for="Input.Email" type="hidden" />
            <div class="form-group my-4">
                <input asp-for="Input.Password" placeholder="New Password" class="form-control bg-grey-dark border-grey-dark form-dark-fix"  />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <input asp-for="Input.ConfirmPassword" placeholder="Confirm New Password" class="form-control bg-grey-dark border-grey-dark form-dark-fix"  />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-form">Reset</button>
        </form>
    </div>
</div>