@page
@model Animulu.Areas.Identity.Pages.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    ViewData["SubTitle"] = "Reset Password Confirmation";
    ViewData["Identity"] = "true";
}
<div class="row mt-5">
    <h4 class="col-12 text-center">
        Your password has been reset.<a asp-page="./Login" class="label-click-purple-dark"> Click here to log in.</a>
    </h4>
</div>